{% load static %}
{% include 'navbar.html' %}


<div class="container" style ="margin-top:50px">
    <h2 class="text-center">About us</h2>

    <br><br><br>
    <div class="row">
        <div class="col-sm-4 text-center">
            <img src="{% static 'images/about-us.png' %}" width="300" height="200" class="img-responsive">
        </div>
        <div class="col-sm-8 font-weight-bold mt-5">
            Hello Sir / Mam...<br>
            This is a simple Hospital management project developed by Anuj Bedke using html,css,javascript,bootstrap,django.

        </div>




    </div>
</div>